name: Build and Run Cypress Program

on:
  push:
    branches:
      - cypress_testing_1  # or your default branch name
  pull_request:
    branches:
      - cypress_testing_1  # or your default branch name

jobs:
  build:
    runs-on: ubuntu-latest  # You can change to other operating systems like 'windows-latest' if necessary

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
         npm install

      - name: Install dependencies
        run: npm test

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: executed_notebooks
          path: |
            cypress/reports