name: C and C++ Build and Run

on:
  push:
    branches:
      - cpp_  # Change this to your default branch
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up GCC
        run: sudo apt-get install g++

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask
          sudo apt-get update
          sudo apt-get install -y libboost-all-dev nasm  # Install Boost libraries

      - name: Compile C++ programs
        run: |
          cd cpp_  # Change to the directory containing C++ files
          for file in *.cpp; do
            g++ "$file" -o "${file%.cpp}" -lboost_system -lboost_filesystem -lboost_regex    # Link Boost libraries , and Compile each C++ file to an executable
          done

      - name: Run C++ programs
        run: |
          cd cpp_
          for exe in *; do
            if [[ -x "$exe" ]]; then  # Check if it is an executable
              ./"$exe"  # Run the executable
            fi
          done

      - name: Compile C programs
        run: |
          cd c_  # Change to the directory containing C files
          for file in *.c; do
            gcc "$file" -o "${file%.c}"  # Compile each C file to an executable
          done

      - name: Run C programs
        run: |
          cd c_
          for exe in *; do
            if [[ -x "$exe" ]]; then  # Check if it is an executable
              ./"$exe"  # Run the executable
            fi
          done
