name: Compile Hello World Solidity

on:
  push:
    branches:
      - solidity_  # Adjust as needed for your branch

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'  # Use the desired Node.js version

      - name: Install solc
        run: |
            npm install

      # - name: Compile Hello World Solidity contract
      #   run: |
      #     node tests.js