name: Rust CI

on:
  push:
    branches: [ rust_ ]
  pull_request:
    branches: [ rust_ ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install C++ Compiler
      run: sudo apt-get install g++

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable  # Use the stable version of Rust

    - name: Run all Rust files in the execute folder
      run: |
        for file in execute/*.rs; do
          rustc "$file" && ./$(basename "$file" .rs)
        done

    - name: Run all individual Rust files
      run: |
          rustc _5_input.rs && cat <<EOF | ./_5_input
          Hello
          World
          there
          EOF